.todo-item,
.todo-info {
  display: flex;
  gap: 20px;
  padding-top: 10px;
  align-items: baseline;
}

.completed {
  text-decoration: line-through;
}

.hidden {
  display: none;
}

.todo-section {
  text-align: center;
}

.todo-list {
  margin: 0 auto;
  padding: 20px 0;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.todo-item {
  border-bottom: 1px solid rgb(200, 195, 195);
}

.todo-block {
  border-bottom: none;
}

.todo {
  display: flex;
  justify-content: space-between;
}

.button-group {
  display: flex;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}